{ //This file controls the vscode BrighterScript extension including Debug Capabilities
    "rootDir": "./",
    "host": "ROKU_IP_ADDRESS",
    "username": "rokudev",
    "password": "ROKU_DEV_PASSWORD",
    "deploy": true,
    "stagingDir": "./out/.debugStaging",
    "sourceMap": false,
    "retainStagingDir": true,
    "files": [
        "source/**/*",
        "components/**/*",
        "images/**/*",
        "fonts/**/*",
        "vendor/**/*",
        "lib/**/*",
        "modules/**/*",
        "locale/**/*",
        "settings/**/*",
        "manifest",
        "env"
    ],
    "diagnosticFilters": [
        {
            "src": "vendor/**/*",
            "codes": [
                1000,
                1011,
                1013,
                1045
            ]
        }
    ]
}
